.App {
  text-align: center;
  position: relative; 
  overflow: hidden;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-death {
  opacity: 0.5;
  position: absolute;
  top: 0; 
  left: 75vmin; 
  isolation: isolate;
  mix-blend-mode: multiply;
}

.App-header {
  background-image: linear-gradient(to bottom, #282c35, #4b7596);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'TW cen MT';
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  position: absolute;
  top: 5vmin;
  left: 24vmin; 
  margin: 0;
  width: 100px;
  text-align: left;
}

.actor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 250px;
}

